<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #0A192F;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container > * {
        margin-top: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        padding: 10px 10px;
    }

    button {
        margin-top: 10px;
        padding: 10px 40px;
        font-size: 20px;
        color: white;
        border: 1px solid #126FDB;
        background-color: #126FDB;
        cursor: pointer;
    }

    form {
        width: 500px;
    }

</style>
<div class="container">
    <img src="https://m.shub.edu.vn/images/logo.png"/>
    <h1 style="color: white; font-size: 40px">ShubClass</h1>
    <form action="/api/accounts/forget-password/callback" method="POST">
        <input name="token" value="{{ token }}" type="hidden" />
        <input name="password" placeholder="Nhập mật khẩu mới" type="password"/>
        <input name="accountId" value="{{ accountId }}" type="hidden" />
        <button type="submit">Đổi mật khẩu</button>
    </form>
</div>