<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #0A192F;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container > * {
        margin-top: 10px;
    }

</style>
<div class="container">
    <img src="https://m.shub.edu.vn/images/logo.png"/>
    <h1 style="color: white; font-size: 40px">ShubClass</h1>
    <p style="color: #1D88E5; font-size: 40px;margin-top:20px">Kích hoạt tài khoản thành công</p>
</div>